body {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 10px;
}

fieldset {
  margin-top: 20px;
  padding: 0 10px;
  border: 1px dashed #777;
  border-radius: 5px;
}

legend {
  padding: 0 5px;
  font-style: italic;
  font-size: 0.8em;
  color: #666;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  color: blue;
  text-decoration: underline !important;
}

a:visited {
  color: blueviolet;
}

#container img {
  margin: 0 auto;
}

#msg {
  width: 99%;
  margin-top: 10px;
  display: inline-block;
}

#name {
  width: 20%;
}

#talk {
  text-align: center;
}

pre code {
  white-space: pre-wrap;
  word-wrap: break-word;
}
